@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1405px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 34px;
}

.menu__link {
  font-family: 'Montserrat';
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #404040;

}

.banner {
   position: relative;
  background: url(../img/banner.png);
  height: 391px;
  background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__wrap {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.banner__bts {
  width: 672px;
}

.banner__h {
  font-family: 'Montserrat';
margin-bottom: 28px;
font-weight: 400;
font-size: 44px;
line-height: 55px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}

.liniya {
  width: 80px;
  height: 2px;
  background: #FFFFFF;
border-radius: 0px;
margin: 0 auto;
}

.banner__p {
  font-family: 'Vollkorn';
margin-top: 25px;
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;

color: rgba(255, 255, 255, 0.81);

}

.touch {
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;
  background: #FEFEC9;
border-radius: 0px;
height: 289px;
}

.touch__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.touch__p {
  font-family: 'Vollkorn';
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
padding-bottom: 53px;
}

.touch__btn {
  background: #FEFEC9;
border-radius: 0px;
padding:  13px 33.5px 20px 34.5px;
}

.btn__text {
  font-family: 'Vollkorn';
 
font-weight: 400;
font-size: 16px;
line-height: 20px;
  
text-align: center;

color: #47474F;

}

.xxxx {
  position: absolute;
  top: -27px;
}
.cards {
  margin-top: 79px;
   
}

.cards__h {
  font-family: 'Montserrat';
font-size: 23px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
 
 
}

.card__h {
  font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
padding-top: 38px;
}
.card__p {
  font-family: 'Vollkorn';
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #333333;
padding-top: 20px;
}

.cards__wrap {
  display: flex;
   justify-content: space-between;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 74px;
}
.liniya2 {
  background: rgba(0, 0, 0, 0.09);
border-radius: 0px;
width: 80px;
  height: 2px;
margin: 0 auto;

 
}
.card {
  margin-top: 43px;
  
  text-align: center;
  gap: 20px;
}

.projects {
  background: #F5F5F5;
border-radius: 0px;
padding-top: 79px;
    padding-bottom: 89px;
}

.projects__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 940px;
    margin: 0 auto;
    padding-top: 43px;
}
.projects__h {
  font-family: 'Montserrat';
font-size: 23px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 28px;
}

.make {
  width: 300px;
  height: 384px;
  background: #FFFFFF;
}
 
.make__body {
text-align: center;
}

.make__h {
  margin-top: 19px;
  font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #333333;
}

.make__p {
  margin-bottom: 21px;
  font-family: 'Vollkorn';
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #333333;
}

.our {
  margin-top: 79px;
  margin-bottom: 90px;
}

.teams {
   
  width: 240px;
  height: 339px;
}
.our__wrap {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: 940px;
  padding-top: 43px;
}
.our__menu {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.teams__body {
  text-align: center;
}

.our__h {
  font-family: 'Montserrat';
font-size: 23px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 28px;
}

.teams__h {
  margin-top: 19px;
  font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #333333;
}

.teams__p {
  margin-bottom: 21px;
  font-family: 'Vollkorn';
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #333333;
}

.recomend {
  background: #F5F5F5;
  padding: 70px;
}

.rec__img {
  display: flex;
  margin: 0 auto;
}

.recomend__wrap {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: auto;
  margin-top: 65px;
}

.rec__1 {
  text-align: center;
   width: 472px;
   border-right: 1px solid rgba(0, 0, 0, 0.04);
   padding-right: 52px;
}

.rec__2 {
  text-align: center;
   width: 390px;
}

.rec__p {
  font-family: 'Vollkorn';
font-size: 26px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
color: #333333;
margin-bottom: 24px;
}

.rec__h {
  font-family: 'Montserrat';
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
color: #ABABAB;
margin-top: 10px;
}

.get {
  background: url(../img/footer.png);
  background-repeat: round;
  padding: 75px;
   
}
.get__h {
  font-family: 'Montserrat';
font-size: 23px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: #333333;
}
.liniya3 {
  height: 2px;
  width: 80px;
  background: rgba(0, 0, 0, 0.09);
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 63px;
}

.get__wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gps {
  text-align: center;
  min-height: 238px;
}

.gps__h {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
  margin-top: 26px;
  margin-bottom: 20px;
}

.gps__p {
  font-family: 'Vollkorn';
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #212121;
 
}

.gmail {
  text-align: center;
  min-height: 238px;
}
.gmail__h {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}
.gmail__p {
  font-family: 'Vollkorn';
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #1C1C1C;
}

.gmail2__p {
  font-family: 'Vollkorn';
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #212121;
margin-top: 22px;
}

.Gmail {
  margin-bottom: 34px;
}

.social {
  text-align: center;
  min-height: 238px;
}
.soc__items {
  display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
    margin-top: 11px;
}

.soc__h {
  font-family: 'Montserrat';
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #333333;
margin-top: 28px;
margin-bottom: 19px;
}

.soc__list {
  font-family: 'Vollkorn';
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #212121;
}

.footer {
  background: #000000;
  padding-top: 69px;
  padding-bottom: 75px;
  text-align: center;
}

.footer__menu {
  display: inline-grid;

}

.search__input1 {
  background: rgba(255, 255, 255, 0.18);
  font-family: Vollkorn;
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
 padding: 18px 31px;
  outline: none;
 border: none;
 color: #FFFFFF;
 width: 564px;
}

.search__input1::placeholder{
  color: #FFFFFF;
  font-family: 'Vollkorn';
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
}

.search__input2 {
  background: rgba(255, 255, 255, 0.2);
  font-family: Vollkorn;
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
 padding: 18px 31px;
  outline: none;
 border: none;
 color: #FFFFFF;
 width: 564px;
}

.search__input2::placeholder{
  color: #FFFFFF;
  font-family: 'Vollkorn';
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
}

.search__input3 {
  background: rgba(255, 255, 255, 0.18);
  font-family: 'Vollkorn';
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
 padding: 18px 31px;
  outline: none;
 border: none;
 color: #FFFFFF;
 width: 564px;
}

.search__input3::placeholder{
  color: #FFFFFF;
  font-family: 'Vollkorn';
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
}

.search__textarea {
  background: rgba(255, 255, 255, 0.2);
  font-family: 'Vollkorn';
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
 padding: 18px 31px;
  outline: none;
 border: none;
 color: #FFFFFF;
 width: 564px;
 height: 127px;
}

.search__textarea::placeholder{
  color: #FFFFFF;
  font-family: 'Vollkorn';
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
}

.footer__btn {
  margin-top: 21px;
}
.btn {
  border: 1px solid #7EC4BD;
  padding: 15px 60px;
  background: #000000;
}
.btn__text {
  font-family: 'Vollkorn';
font-size: 17px;
font-style: italic;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #7EC4BD;
}

.footer__logo {
  margin-top: 37px;
  margin-bottom: 14px;
}

.footer__p {
  font-family: 'Vollkorn';
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 0.4);
}